doctype html
html
    head
        style
            include main.css
        body
            div
                block content
            div.footer
                | hello world
                br
                |df,pvf, f,dpvdpo
